
<!DOCTYPE html>
<html>
<head>
  <title>  </title>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Leave Management', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>     
            <li style="color: white">Welcome <%= current_user.name %></li> 
            <li><%= link_to 'Check Status', total_request_path %></li>
            <li><%= link_to 'Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>       
        <% elsif %>          
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %> 
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
	
